<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emailcheckMapper">
	<!-- 아이템 변경 기안 RESULT MAP -->
	<resultMap id="resultEmailCheck" type="EmailCheck">
		<result property="checkId" column="CHECK_ID" />
		<result property="toEmail" column="TO_EMAIL" />
		<result property="code" column="CODE" />
		<result property="checkDate" column="CHECK_DATE" />
	</resultMap>

	<resultMap id="resultList" type="EmailCheck">
		<result property="checkId" column="CHECK_ID" />
		<result property="toEmail" column="TO_EMAIL" />
		<result property="code" column="CODE" />
		<result property="checkDate" column="CHECK_DATE" />
	</resultMap>
	<!-- ************************************************* -->
	
	<insert id="insertEmailCheck" parameterType="EmailCheck">
		insert into email_check values ( default, #{ toEmail }, #{ code }, sysdate )
	</insert>
	
	<select id="selectCheckCode"  parameterType="EmailCheck" resultType="_int">
		SELECT code
		FROM email_check
		WHERE to_email = #{ toEmail }
		ORDER BY check_date DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
</mapper>