<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employeeMapper">

	<resultMap id="resultEmployee" type="Employee">
		<id property="employeeId" column="EMPLOYEE_ID" />
		<result property="departmentId" column="DEPARTMENT_ID" />
		<result property="teamId" column="TEAM_ID" />
		<result property="rankId" column="RANK_ID" />
		<result property="employeeName" column="EMPLOYEE_NAME" />
		<result property="employeeEmail" column="EMPLOYEE_EMAIL" />
		<result property="employeePwd" column="EMPLOYEE_PWD" />
		<result property="employeeAddress" column="EMPLOYEE_ADDRESS" />
		<result property="employeePhone" column="EMPLOYEE_PHONE" />
		<result property="employeeBirthdate" column="EMPLOYEE_BIRTHDATE" />
		<result property="managerId" column="MANAGER_ID" />
	</resultMap>
	
	<resultMap id="resultList" type="Employee">
		<result property="employeeId" column="EMPLOYEE_ID" />
		<result property="departmentId" column="DEPARTMENT_ID" />
		<result property="teamId" column="TEAM_ID" />
		<result property="rankId" column="RANK_ID" />
		<result property="employeeName" column="EMPLOYEE_NAME" />
		<result property="employeeEmail" column="EMPLOYEE_EMAIL" />
		<result property="employeePwd" column="EMPLOYEE_PWD" />
		<result property="employeeAddress" column="EMPLOYEE_ADDRESS" />
		<result property="employeePhone" column="EMPLOYEE_PHONE" />
		<result property="employeeBirthdate" column="EMPLOYEE_BIRTHDATE" />
		<result property="managerId" column="MANAGER_ID" />
	</resultMap>


	
	<select id="selectEmployee" parameterType="string" resultMap="resultEmployee">
		select * from employee where EMPLOYEE_EMAIL = #{ employeeEmail }
	</select>
	
	<select id="selectManager" parameterType="string" resultMap="resultEmployee">
		select * from employee where EMPLOYEE_ID = #{ MANAGER_ID }
	</select>
	
	<insert id="insertMember" parameterType="Employee">
		insert into employee values( default, #{departmentId}, #{teamId}, 'emp', #{employeeName}, #{employeeEmail},
		#{employeePwd}, #{employeeAddress}, #{employeePhone}, #{employeeBirthdate}, #{managerId} )
	</insert>
	
	<select id="selectListCount" resultType="_int">
		select count(*) from employee
	</select>
	
	<select id="selectListP" parameterType="Paging" resultMap="resultList">
		<![CDATA[
		select * 
		from (select rownum rnum, EMPLOYEE_ID, DEPARTMENT_ID, TEAM_ID, 
				   RANK_ID, EMPLOYEE_NAME, EMPLOYEE_EMAIL, 
		           EMPLOYEE_PWD, EMPLOYEE_ADDRESS, EMPLOYEE_PHONE, EMPLOYEE_BIRTHDATE, 
		           MANAGER_ID
		      from (select * from employee 
		           order by DEPARTMENT_ID desc)) 
		where rnum >= #{ startRow } and rnum <= #{ endRow }
		]]>
	</select>
	
</mapper>






