@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-wrapper.login {
    align-items: center;
    flex-direction: column;
}

.login-logo img{
    width: 100px;
}

.login-box {
    margin: 0 auto;
    margin-top: -20px;
    width: 350px;
    height: auto;
    min-height: 400px;
    border-radius: 50px;
    background: #2b354f;
    padding: 25px 40px 20px 40px;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}

.login-box h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    color: white;
}

.login-logo {
    margin-bottom: 20px;
}

.login-nemo {
    width: 100%;
    height: 45px;
    background: #fff;
    border-radius: 7px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-nemo input {
    outline: none;
    border: none;
    margin-left: 15px;
    width: 320px;
}

.login-text {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
}

.login-btn {
    width: 100%;
    font-size: 16px;
    height: 45px;
    color: #e0e0e0;
    background: #17378a;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 20px;
    
    border: none;
    /*border-bottom-color: rgba(116, 180, 243, 0.9);
    border-right-color: rgba(116, 180, 243, 0.9);
    border-top-color: rgba(255, 255, 255, 0.5);
    border-left-color: rgba(255, 255, 255, 0.5);*/
}

.login-btn:hover {
    background: #90a6de;
    color: #001c66;
}

.margin-top30px {
    margin-top: 40px;
}

.margin-top10px {
    margin-top: 10px;
}

.find-btn {
    text-decoration: none;
    color: #3b3b3b;
}
