@charset "utf-8";
@import url('./font.css');
@import url('./normalize.css');


body {
    overflow-x: hidden;
    font-family: Noto Sans KR;
    font-size: 14px;
}

#container {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    width: auto;
    height: auto;
}

.main-wrapper {
    position: relative;
    margin: 0 auto;
	padding: 0px 0px 40px 0px;
	text-align: center;
	word-break: keep-all;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    background: #fff;
    z-index: 20;
    overflow: hidden;
    /*min-height: 600px;*/
}

.main-header-bar {
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #E5E5E6;
}

.main-header-bar .main-title-box {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 23px;
}

.main-header-bar .main-title-box.main {
    margin-left: 0px;
}

.main-header-bar .main-title {
    color: #0c4d8e;
    margin-left: 8px;
}

.main-header-bar .main-title-box.main .main-title {
    font-size: 14px;
}

.header-left-btn {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 12px;
    height: 100%;
    background: url(../images/left-btn.png) no-repeat center;
    cursor: pointer;
}

.header-left-btn.right {
    background: url(../images/right-btn.png) no-repeat center;
}

.main-container {
    position: absolute;
    top: 0px;
    left: 200px;
    width: calc(100% - 200px);
    min-width: 1100px;
    height: 100%;
}

.main-container.notice{
    min-width: 0px;
}

.main-container.all {
    left: 0px;
    width: 100%;
}

.main-contents-box {
    position: absolute;
    display: block;
    padding: 15px;
    font-size: 13px;
    color: #242424;
    height: calc(100% - 220px);
    width: calc(100% - 30px);
    overflow-y: auto;
    overflow-x: hidden;
}

.main-contents-box.normal {
    height: calc(100% - 163px);
}
.main-contents-box.main {
    height: calc(100% - 106px);
    padding-top: 0px;
}

.contents-container {
    display: flex;
}

.contents-container.type-grid2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

.contents-container.sort-row{
    flex-direction: row;
}

.contents-container.sort-cal{
    flex-direction: column;
}

/****************테이블****************/
.contents-box {
    /*border: 1px solid #eeeeee;
    border-radius: 5px;
    height: 300px;*/
    width: 100%;
    height: auto;
}

.contents-box.aproval {
    width: 800px;
}

.contents-box.aprovalline {
    width: 700px;
}

.contents-box.notice {
    padding: 10px 20px 0px 20px;
}

.contents-title {
    width: 100%;
    font-size: 25px;
    text-align: center;
    height: 26px;
    margin-bottom: 15px
}

.contents-title.notice-tit {
    text-align: left;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d4d4d4;
}

.contents-title.small{
    font-size: 15px;
    margin-bottom: 5px;
}

.contents-title span {
    position: relative;
    top: -3px;
    font-size: 15px;
}

.contents-title.small span {
    top: -1px;
    font-size: 12px;
}

.contents-table {
    width: 100%;
}

.contents-table {
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
}

.contents-table th, .contents-table td {
    padding: 5px;
    border: 1px solid #d4d4d4;
    word-wrap: break-word;
}

.contents-table.aproval th, .contents-table.aproval td {
    height: 35px;
}

.contents-table tr.sum td {
    background-color: #eee;
}

.height-200{
    height: 200px;
}

.table-empty-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;

}

.table-empty-box div {
    margin-top: 22px;
}



/****************서치박스****************/

.search-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    /* padding: 10px; */
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d4d4;
}

.search-container.noline {
    border-bottom: none;
}

.search-box {
    width: 600px;
    height: 26px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    margin-bottom: 10px;
}

.search-box.pop {
    width: auto;
}

.search-box-all {

}

.search-box-all .search-box {
    margin-bottom: 5px;
}

.search-box .search-btn {
    height: 100%;
    border-right: 1px solid #d4d4d4;
    cursor: pointer;
}

.search-image {
    width: 18px;
    height: 18px;
    margin: 0px 5px;
    vertical-align: middle;
}
.search-box .search-box-text {
    outline: none;
    border: none;
    appearance: none;
    width: 100%;
    text-align: left;
    color: rgb(34, 34, 34);
    background-color: #fff;
    padding: 0 5px;    
}

.search-visible-btn {
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    cursor: pointer;
}

.search-visible-btn img {
    width: 10px;
}

.search-visible-btn .search-close, .search-visible-btn.open .search-open {
    display: none;
}

.search-visible-btn .search-open, .search-visible-btn.open .search-close{
    display: block;
}

.contents-input-div .select-date {
    border: 1px solid #9fc7ff;
}

.select-date {
    margin-right: 10px;
    border: 1px solid #d4d4d4;
    height: 21px;
}

.contents-input-div .select-date.small {
    width: 90%;
}

.select-nemo-btn {

}


/**********************셀렉트박스**********************/
.select-search {
    display: flex;
}

.select-search .select-box {
    margin-right: 10px;
}

.select-search .select-box select{
    height: 28px;
}

.select-box, .input-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.select-box .select-pan {
    margin-right: 10px;
}

.select-box .select-pan-nemo{
    padding: 0 0px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.select-box .select-pan:last-child {
    margin-right: 0px;
}

.select-box select {
    border: 1px solid #d4d4d4;
    padding: 0 5px;
    cursor: pointer;
}

.select-pan-btn {
    font-size: 13px;
    background: #f2f8fb;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    height: 23px;
    cursor: pointer;
    margin-right: 10px;
}

/*****************************인풋박스******************************/
.input-box  {

}

.input-box-input {
    width: 596px;
    height: 22px;
    margin: 0px;
    border: 1px solid #9fc7ff;
    font-size: 13px;
    text-align: left;
}

.select-pan-nemo.width-70 {
    width: 70px;
    text-align: left;
    justify-content: flex-start;
    margin-right: 0px;
}

.select-pan-nemo.width-100 {
    width: 100px;
    text-align: left;
    justify-content: flex-start;
    margin-right: 0px;
}

.input-file {
    /*border: 1px solid #d4d4d4;*/
}


/*******************************페이징***************************/
.paging-box {
    width: 100%;
    height: 18px;
    text-align: left;
}

.paging-box .paging-list-btn {
    margin-right: 5px;
    width: 10px;
    text-decoration: none;
}

.paging-box .paging-list-btn.active {
    color: #1a70d3;;
    font-weight: bold;
    width: 20px;
    text-decoration: underline;
}

.paging-box .paging-list-btn img {
    vertical-align: middle;
    margin-bottom: 2px;
}


/***************************인풋박스***************************/
.input-container {
    position: relative;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}



.contents-table td {
    position: relative;
    padding: 0px;
    height: 26px;
    vertical-align: middle;
}
.contents-input-div{
    display: block;
    width: 100%;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    height: 26px;
}

.contents-chekc-div {
    display: block;
    width: 100%;
}

.contents-input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 10px);
    height: 18px;
    margin: 0px;
    border: 1px solid #9fc7ff;
    font-size: 13px;
    text-align: center;
}
.contents-input.noline {
    border: none;
}

.contents-input-btn {
    border: 1px solid #9fc7ff;
    background: #1a70d3;
    border-radius: 5px;
    color: #fff;
    margin-top: 1px;
    cursor: pointer;
}

.contents-input-btn.big {
    width: 80px;
    height: 25px;
    line-height: 1px;
}

.contents-input-btn.big2 {
    width: 140px;
    height: 25px;
}

#btn_delete {
    
}

.contents-input-link {
    text-decoration: underline;
    line-height: 18px;
    color: #1a70d3;
    cursor: pointer;
}

.contents-input-plus, .contents-input-minus {
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin-top: 2px;
}


.td-50 {
    width: 50px;
}

.td-70 {
    width: 70px;
}

.td-100 {
    width: 100px;
}

.td-120 {
    width: 120px;
}

.td-150 {
    width: 150px;
}

.td-200 {
    width: 200px;
}

.td-250 {
    width: 250px;
}

.td-300 {
    width: 300px;
}

.td-350 {
    width: 350px;
}

.contents-table td.ht-60 {
    height: 60px;
}

.font-10{
    font-size: 10px;
}

.table-visible-btn {
}

.padding-bottom-none {
    padding-bottom: 0px;
}

.top-margin-15 {
    margin-top: 15px;
}

.boder-none {
    border: none;
}

.bluetext {
    color: #1a70d3;
    /*color: #1bbeff;*/
}
.flex-center {
    justify-content: center;
}

.hidden {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

/*결재라인*/
.submit-box {
    position: absolute;
    text-align: left;
    /* display: flex; */
    bottom: 110px;
    width: 100%;
    margin: 10px 10px 0px 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.input-search-btn {
    height: 22px;
    width: 24px;
    border: 1px solid #9fc7ff;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
}

.input-search-btn .search-image {
    margin: 0px;
}

.input-search {

}

.input-search .contents-input {
    position: absolute;
    top: 0px;
    left: 23px;
    width: calc(100% - 33px);
    height: 18px;
    margin: 0px;
    border: 1px solid #9fc7ff;
    font-size: 13px;
    text-align: left;
}

.aproval-line-box {
    position: relative;
    width: 680px;
    height: 200px;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 15px;
    padding: 0px 10px 10px 10px;
    overflow-x: hidden;
    overflow-y: auto;
}



/***********************메인 페이지************************/
.mainbox-divide {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    align-items: start;
}

.mainbox {
    width: 100%;
}

.mainbox-con {
    min-height: 400px;
}

.mainbox-con.margin-bottom15 {
    margin-bottom: 15px;
}

.mainbox-con.height-auto {
    min-height: 0;
}

.mainbox-tablebox {
    position: relative;
    width:48vw;
    height: auto;
}

.mainbox-tablebox.width-65vw {
    width:65vw;
}

.mainbox-table {
    padding: 10px 0px;
}

.mainbox-tablebox.chart {
    width: 32vw;
    margin: 0 auto;
}

#myChart {
}

.mainbox-nlist {   
    width: 100%;
    list-style: none;
    padding: 0px;
    text-align: left;
}

.mainbox-nlist li{
    list-style: none;
    position: relative;
    padding-left: 23px;
    background: url(../images/list_dot.gif) no-repeat 11px 19px;
    border-bottom: 1px solid #eee;
    line-height: 38px;
}

.mainbox-nlist a{
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-size: 14px;
}

.mainbox-nlist li .date {
    float: right;
    font-size: 13px;
    color: #8f8f8f;
}
