
/*********************업무 게시판*******************/

.contents-notice {
    position: relative;
    display: flex;
    padding: 10px 10px 10px 10px;
    height: 65px;
    color: #747474;
    border-bottom: 1px solid #e2e2e2;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-decoration: none;
}

.contents-notice.notice { 
    height: auto;
    border: none;
    padding: 10px 0px;
}

.notice-tit {
    margin-bottom: 5px;
}
.notice-tit.small {
    font-size: 15px;
    padding-bottom: 5px;
}


.contents-notice-title {
    font-size: 15px;
    color: #6b6b6b;
    margin-bottom: 15px;
}
.contents-notice-title.big {
    font-size: 25px;
}

.notice-title-box {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contents-notice-line {
    position: relative;
    display: inline-block;
    font-size: 13px;
}

.contents-notice-line span {
    margin-left: 0px;
    display: inline-block;
}

.contents-notice-line span div{
    text-align: left;
    margin-bottom: 3px;
}

.contents-notice-line span img {
    vertical-align: bottom;
}

.notice-profile {
    height: 41px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #6b6b6b;
}

.notice-profile img {
    width: 40px;
    height: 40px;
    border: 1px solid #b5cef0;
    border-radius: 100%;
    margin-right: 5px;
}

.notice-contents-box {
    min-height: 150px;
    width: 100%;
    padding: 0px 5px;
    text-align: left;
}

/**************댓글**************/
.notice-reply-box {
    position: relative;
    width: 100%;
    
}

.depth2-icon{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 20px;
}

.notice-reply-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;
}

.reply-title {
    font-size: 22px;
    color: #535353;
}

.reply-sort {
    font-size: 15px;
}

.reply-sort-btn {
    margin-left: 10px;
    cursor: pointer;
    
}

.notice-reply-con {
    position: relative;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.notice-reply-con.depth2 {
    background-color: #f7f6f6;
    padding-left: 60px;
}

.contents-notice-text {
    padding: 15px 20px 20px 45px;
}

.contents-notice-text-parent {
    background-color: #f5ff00;
    color: #1a70d3;
}

.reply-btn {
    font-size: 13px;
    width: 50px;
    height: 25px;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    background-color: #fff;
}


/*오른쪽*/
.reply-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.reply-right-btn {
    cursor: pointer;
}

.reply-dropdown {
    display: none;
}

/*********************댓글 입력******************/
.reply-input-box {
    position: relative;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    width: 100%;
    margin: 15px 0px;
}

.reply-input-box.depth2 {

}

.depth2-icon-reply{
    position: absolute;
    top: 10px;
    left: -30px;
    font-size: 20px;
}

.reply-input-area {
    min-height: 99px;
    max-height: 359px;
    overflow-y: auto;
}

.reply-input {
    min-height: 56px;
    padding: 11px 10px;
    font-size: 13px;
    color: #535353;
    line-height: 22px;
    overflow: hidden;
    z-index: 10;
    word-wrap: break-word;
    word-break: break-word;
    vertical-align: top;
    outline: none;
    text-align: left;
}

.reply-input-btn-box {
    display: flex;
    height: 35px;
    border-top: 1px solid #e2e2e2;
    align-items: center;
    justify-content: space-between;
}

.reply-input-btn-box .contents-input-btn {
    margin-right: 10px;
}

.reply-input-btn-box .file-btn {
    margin-left: 10px;
}

/********************글쓰기********************/
.contents-box.notice .select-box .select-pan-nemo {
    width: 70px;
    margin-right: 30px;
    
    justify-content: flex-start;
}

.contents-box.notice .select-box{
    font-size: 15px;
}

.select-file {
    font-size: 13px;
}

.content-input-area {
    padding: 15px;
    border: 1px solid #e2e2e2;
    height: 410px;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-input {
    height: 100%;
    font-size: 13px;
    color: #535353;
    line-height: 22px;
    overflow: hidden;
    z-index: 10;
    word-wrap: break-word;
    word-break: break-word;
    vertical-align: top;
    outline: none;
    text-align: left;
}

.content-input-btn-box {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    height: 40px;
    margin-top: 15px;
}

.contents-notice-down {
    position: relative;
    width: 450px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    padding: 10px 30px 10px 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contents-notice-down img {
    vertical-align: middle;
    margin-right: 5px;
}

.down-img{ 
    position: absolute;
    right: 15px;
}

.button-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.button-a {
    width: 50px;
    height: 25px;
    background-color: #d8e7f8;
    color: #3d3d3d;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    text-decoration: none;
}

.select-checkbox {
    margin: 3px 3px 0px 0px;
}

.font-size13 {
    font-size: 13px;
}

.notice-sel-btn {
    padding: 2px 8px;
    cursor: pointer;
    font-size: 13px;
}